*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#f3f3f3;
    padding:30px;
}

/* Main Container */
.container{
    width:90%;
    margin:auto;
}

/* Header */
.header{
    background:#001b44;
    color:white;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px;
    border-radius:8px;
}

.menu{
    display:flex;
    gap:20px;
}

.menu a{
    color:white;
    text-decoration:none;
    font-size:14px;
}

.header button{
    padding:10px 15px;
    border:none;
    background:white;
    color:#001b44;
    border-radius:5px;
    cursor:pointer;
}

/* Course Box */
.course-box{
    background:white;
    margin-top:20px;
    padding:25px;
    border-radius:10px;
    box-shadow:0 2px 5px rgba(0,0,0,0.1);
}

.course-box h2{
    margin-bottom:10px;
}

.course-box h3{
    margin-top:20px;
    margin-bottom:10px;
}

/* Grid Layout */
.grid-section{
    display:grid;
    grid-template-columns:1fr;
    gap:20px;
    margin-top:20px;
}

/* Thumbnail Box */
.thumbnail-box,
.side-box{
    background:white;
    padding:20px;
    border-radius:10px;
    min-height:250px;
    box-shadow:0 2px 5px rgba(0,0,0,0.1);
}

.thumb-content{
    display:flex;
    gap:20px;
    margin-top:20px;
    align-items:center;
    justify-content: center;
}

.image-box{
    width:170px;
    height:150px;
    border:2px dashed #ccc;
    display:flex;
    justify-content:center;
    align-items:center;
}

.image-box img{
    width:70px;
}

.text-content p{
    margin-bottom:15px;
    color:#555;
}

.text-content button{
    padding:10px 20px;
    border:none;
    background:orange;
    color:white;
    border-radius:5px;
    cursor:pointer;
}

/* Trainer Section */
.trainer-box{
    background:white;
    margin-top:20px;
    padding:20px;
    border-radius:10px;
    box-shadow:0 2px 5px rgba(0,0,0,0.1);
}

.trainer-details{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-top:20px;
    flex-wrap:wrap;
}

.trainer{
    display:flex;
    align-items:center;
    gap:15px;
}

.trainer img{
    width:60px;
    height:60px;
    border-radius:50%;
}

.edit a{
    text-decoration:none;
    color:blue;
}